:root {
--main-text-color: #757575;
--title-color: #212121;
--accent-color: #2196F3;
--alt-title-color: #FFFFFF;

--darc-bg: #2F303A;
--second-bg: #F5F4FA;
--three-bg: #FFFFFF;

--main-font: 'Roboto', sans-serif;
--logo-font: 'Raleway', sans-serif;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;
color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: var(--accent-color);
}

.list {
    list-style: none;
    padding-left: 0;
	margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: var(--title-color); 
}

/*шапка сайта*/
.bg-header {
    background: var(--three-bg);

    border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;

}

.logo {
    display: flex;

    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--accent-color);
    }

.header-logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;    
}

.upper-logo {
    color: var(--title-color);
}

.down-logo {
    color: var(--alt-title-color);
}

.site-nav {
    display: flex;
    align-items: center;

    margin-right: 331px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-color);
    text-decoration: none;
}

.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}

/*Заголовок*/
.bg-title {
    background: var(--darc-bg);
}

.main-title {
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.page-title {
    justify-content: center;
    text-align: center; 
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: var(--alt-title-color);
}

.btn {
    width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--alt-title-color);
    background: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

/*Принципы работы*/
.bg-principle {
    padding-top: 94px;

    background-color:var(--three-bg);
}

.principle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-color);
}

.principle-text {
    width: 270px;
    height: 75px;
    margin-top: 10px;
}

/*Чем занимаемся*/
.work {
    background-color:var(--three-bg);
}

.section-title {
    margin-bottom: 50px;
    text-align: center;

    font-size: 36px;
    line-height: 1.16;
}

/*Команда*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.bg-team {
    background: var(--second-bg);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.item-section:not(:last-child) {
    margin-right: 30px;
}

.text-name {
    background: var(--three-bg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-text{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.18;
}

.text-prof {
    margin-bottom: 0px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons-item {
    margin-top: 16px;
}

.social-icons-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-icons-circle:not(:last-child) {
    margin-right: 10px;
}

.social-icons-svg {
    fill: #AFB1B8;
}

/*портфолио*/
.bg-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--three-bg);
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btn:not(:last-child) {
    margin-right: 8px;
}

.nav-btn {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    color: var(--title-color);
    background: #F5F4FA;

    border-radius: 4px;
    border: none;
}

.nav-btn:hover {
    color: var(--alt-title-color);
    background: var(--accent-color);
}

.title-portfolio {
    display: none;
}

.text-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;  

    font-size: 16px;
    line-height: 1.87;
}

.portfolio-galeri {
    flex-basis: calc(100%/3 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.portfolio-galeri:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.name-portfolio {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.text {
    margin: 20px 24px;
}

/*footer*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--darc-bg);
}
.footer .logo {
    margin-bottom: 20px;
}

.address {
    font-style: inherit;
    color: var(--alt-title-color);
}

.contacts-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
}